
#titulo {
	color: #495FDA;
	text-align: center;
}

#contenedor {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#dado {
	position: relative;
	float: left;
}

#alerta {
	position: relative;
	float: left;
}

#ranking {
	position: relative;
	float: right;
}

#ranking-scroll {
	height: 500px;
	overflow: auto;
	margin-top: 20px;
}

#imgranking {
	width: 200px;
	height: 200px;
}

#estadisticas {
	position: absolute;
	bottom: 40px;
	left: 80px;
}


#grafico {
	width: 200px;
	height: 200px;
}